@font-face {
  font-family: "Nikky";
  src: url(fonts/NikkyouSans-mLKax.ttf);
}


body {
  font-family: "Nikky", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #E8CA8A;
  

  /* overflow: hidden; */
}



.page__wrapper{
  min-height: 100vh;

  border: 18px solid #E8CA8A;
  background-color: #983215;  

  /* background-image: url("imgs/Group 42.png");
  background-repeat: no-repeat;
  background-position: center top; 
  background-size: cover; */
}


.card__chess .card {
  border: 10px solid black;
}

.main {
  
}

.hero-row{
  display: flex;
  flex-direction: row;
}

/* header */
.header {

  
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 76px;
  width: 60%;
  height: 88px;
  margin-left: auto;
  padding: 12px 18px;

  background-color: #983215;
  background-image: url(imgs/Group\ 7.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.header__links {
  display: flex;
  align-items: center;
  gap: 28px;
}

.header__button {
  width: 250px;
  height: 60px;
  min-width: 120px;
  padding: 12px 18px;

  color: #E8CA8A;

  background-color: #212512;
  border: 4px solid #E8CA8A;
  border-radius: 8px;
}

/* header ends */

/* welcome */


.welcome {
  padding-top: 36px;
}

.welcome__title{
  width: 586px;
  height: 228px;

  font-size: 60px;
}
/* welcome ends here */


/* cards */
.cards__wrapper{
  position: relative;
}


.cards {
  position: relative;

  display: flex;
  /* justify-content: space-evenly; */
  align-items: flex-end;
  gap: 12px;
  width: 84%;
  margin: 0 auto;


  /* background-image: url(Rectangle\ 24.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom; */

}

.cards__person-img1{
  position: absolute;
  top: -98px;
  left: -8px;
  z-index: 0;
  pointer-events: none;
}


.cards__person-img2{
  position: absolute;
  top: -184px;
  left: 300px;
  z-index: 0;
  pointer-events: none;
}

.cards__person-img3{
  position: absolute;
  top: -247px;
  left: 962px;
  z-index: 0;
  pointer-events: none;


  width: 600px;
  height: 600px;
}

.cards__person-img4{
  position: absolute;
  top: 366px;
  left: 200px;
  z-index: 0;
  pointer-events: none;
}

.cards__person-img5{
  position: absolute;
  top: 518px;
  left: 40px;
  z-index: 0;
  pointer-events: none;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 12px 10px;

  border: 8px solid #983215;
  border-radius: 12px;
  background-color: #251E12;
  

}

.card--with-icons {
  position: relative;
}

.card__icons {
  position: absolute;
  top: -48px;
  left: 32%;
  
  display: flex;
  gap: 8px;
  transform: 
  
  translateX(-50%);
}

.card__icons img {
  width: 40px;
  height: auto;
}

.card__title {
  margin-bottom: 12px;

  font-size: 58px;

}

.card__desc {
  width: 280px;
  margin-bottom: 12px;

  font-size: 24px;
  color: #E8CA8A;

}

.card__button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  min-width: 120px;
  padding: 18px 10px;

  font-size: 24px;
  color: #983215;

  border-radius: 8px;
  background: #CA9B41;

  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}

.card__button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;

  background: rgba(255, 255, 255, 0.15);

  transition: left 0.3s ease;
}

.card__button:hover::before {
  left: 0;
}

.card__button:hover {
  background-color: #E8CA8A;
  color: #212512;
}


.card__chess .card{
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 18px;
  
  background-color: #E8CA8A;
}

.card__chessboard {
  display: grid;
  grid-template-columns: repeat(8, 38px);
  grid-template-rows: repeat(8, 38px);
  background-color: #d2a84d;
  /* width: 304px; */
  /* border-radius: 12px; */
  /* margin-bottom: 166px; */

  aspect-ratio: 1 / 1;
  overflow: hidden;
  
  flex-shrink: 0;
  user-select: none;
}

.chess-cell {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #e5c370;

  font-size: 18px;
  
}


.card__pawn {
  display: flex;
  /* justify-content: end; */
  flex-direction: column;
  height: 618px;
  font-size: 60px;
}

.card__dots {
  margin-top: auto;
  margin-bottom: 10px;

  font-size: 20px;
  letter-spacing: 6px;
}

.chess__title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 304px;
  height: 175px;
  
  border-radius: 0 0 12px 12px;
  background-color: #CA9B41;

  font-size: 70px;
  color: #983215;
  line-height: 103%;
  text-align: center;


}

.chess__text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 292px;
  height: 64px;
  min-width: 120px;

  border: 4px solid #251E12;
  border-radius: 8px;
  background-color: #E8CA8A;

  font-size: 24px;
  color: #983215;
  

}

.chess__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 12px;


  background-color: #983215;
  border-radius: 12px;
}



.cell {
  position: relative;

  width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell.light {
  background-color: #E8CA8A;
}

.cell.dark {
  background-color: #CA9B41;
}

.cell img {
  width: 70%;
  height: 70%;
  object-fit: contain;

  cursor: grab;
}


.card__pawn .card {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;

  background-color: #1a120a;
 
  color: #e8ca8a;
  text-align: center;
}

.slider {
  position: relative;

  width: 200px;
  height: 100%;

  overflow: hidden;
}

.slide {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;

  transition: opacity 0.3s ease;
}

.slide.active {
  display: flex;
}

.slide img {
  width: 100px;
  height: auto;
  /* margin-top: 20px; */
}

.dots {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  /* margin-top: 12px; */
}

.dot {
  width: 16px;
  height: 16px;

  background-color: #E8CA8A;
  border-radius: 50%;

  cursor: pointer;
}

.dot.active {
  background-color: #CA9B41;
}

.chess__img{

}
.news{
  height: 100vh;
  padding-right: 18px;
  padding-left: 18px;

  background-color: #E8CA8A;

}

.marquee {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 8px 0;

  background-color: #E8CA8A; 
  border-top: 24px solid #983215;
  border-bottom: 24px solid #983215;

  overflow: hidden;
}

.marquee__content {
  display: inline-block;
  
  font-size: 100px;
  font-weight: bold;
  font-family: "Nikky", sans-serif; 
  color: #000;
  
  white-space: nowrap;
  animation: scroll-marquee 60s linear infinite;
}



.learnt {
  height: 100vh;

  background-color: #E8CA8A;
  background-image: url(imgs/Vector\ 2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
}
.learnt__title {
  font-size: 200px;
  line-height: 90%;
  color: #000;
}

.learnt__span {

}

@keyframes scroll-marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}



 

@media (max-width: 1550px) {

} 
